.cart-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px auto;
}

.cart-image > img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  padding: 0px 20px;
}

.cart-info {
  flex-grow: 1;
  text-align: center;
}

.quantity-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.quantity-control > button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  background-color: #dc4438;
  color: white;
  border-radius: 5px;
  padding: 6px;
}

.quantity-control > p {
  padding: 3px;
}
