.products-page {
  background-color: rgb(230, 230, 230);
  height: 100vh;
}

.product-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.products-page > h1 {
  text-align: center;
  font-size: 40px;
  padding: 5px;
}
