.home-page {
  background-color: #555;
}

.home-page > img {
  position: relative;
  width: 100%;
  height: calc(100vh - 54px);
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}

.store-name {
  font-family: "Russo One", sans-serif;
  text-align: center;
  text-shadow: 2px 2px 5px white;
  margin: auto;
  font-size: 70px;
}

.text-section {
  font-family: "Russo One", sans-serif;
  color: black;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
  margin: 0px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.text-section > h2 {
  margin: auto;
  text-align: center;
  font-size: 32px;
  text-overflow: ellipsis;
}

.browse-button {
  font-family: "Open Sans", serif;
  width: 120px;
  padding: 5px 10px;
  background-color: #dc4438;
  font-size: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;

  text-align: center;
  margin: 5px auto;
}

@media (min-width: 400px) {
  .overlay {
    top: 25%;
  }
}

@media (min-width: 650px) {
  .text-section {
    width: 600px;
  }
}

@media (min-width: 960px) {
  .text-section {
    margin-top: 50px;
  }
}
